<?php header("Content-type: text/css; charset: UTF-8"); ?>

.amdbible_passage {
}

p.amdbible_title{
	text-align:center;
	margin-bottom: 0;
}

p.amdbible_book{
	font-size: 300%;
	text-align:center;
	margin: 20px;
}

p .amdbible_chapter{
	float: left;
	color: #990033;
	font-size: 65px;
	line-height: 50px;
	padding-top: 4px;
	padding-right: 8px;
	padding-left: 3px;
}

.amdbible_verse{
	vertical-align: super;
	font-size: 50%;
	font-weight: bold;
}

.amdbible_text{
}